img {
  max-width: 100%;
  height: 400px;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  background: #f0f0f5;
}

.full {
  object-fit: contain;
}

.crop {
  object-fit: cover;
  overflow: hidden;
}