 .App {
  align-items: flex-start center;
 }

canvas {
  border: 2px solid #000000;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  width: 960px;
  height: 540px;
}
