 .Menu {
  align-items: flex-start center;
  background: #1e1f24;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 10px;
 }
 .Board {
  align-items: flex-start center;
  background: #1e1f24;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
 }

canvas {
  border: 2px solid #000000;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  width: 960px;
  height: 540px;
}
